* {
    margin: 0px;
    padding: 0px;outline: none;
}

form {
    border: 1px solid orange;
    width: 250px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    background:  -moz-linear-gradient(19% 75% 90deg,#FFA319, #E69316);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#E69316), to(#FFA319));
    margin:50px auto;
    padding: 20px;
    -moz-box-shadow:0px -5px 300px #663D00;
    -webkit-box-shadow:0px -5px 300px #663D00;
}

label {
    font-size: 12px;
    font-family: arial, sans-serif;
    list-style-type: none;
    color: #fff;
    text-shadow: #000 1px 1px;
    margin-bottom: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
}

input {
    -webkit-transition-property: -webkit-box-shadow, background;
    -webkit-transition-duration: 0.25s;
    padding: 6px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-top: 1px solid orange;
    -moz-box-shadow: 0px 0px 2px #000;
    -webkit-box-shadow: 0px 0px 2px #000;
    margin-bottom: 10px;
    background: #FFD633;
    width: 230px;
}

input.submit {
    -webkit-transition-property: -webkit-box-shadow, background;
    -webkit-transition-duration: 0.25s;
    width: 100px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E69316), to(#663D00));
    background:  -moz-linear-gradient(19% 75% 90deg,#663D00, #E69316);
    color: #fff;
    text-transform: uppercase;
    text-shadow: #000 1px 1px;
    border-top: 1px solid orange;
    margin-top: 10px;
}

input.submit:hover {
    -webkit-box-shadow: 0px 0px 2px #000;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E69316), to(#663D00));
    background:  -moz-linear-gradient(19% 75% 90deg,#663D00, #E69316);
}

input.submit:active {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#663D00), to(#E69316));
    background:  -moz-linear-gradient(19% 75% 90deg,#E69316, #663D00);
}

input:hover {
    -webkit-box-shadow: 0px 0px 4px #000;
    background: #E68A00;
}