<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/media/css/reset.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/media/css/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/media/css/layout.css" type="text/css" media="screen">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="/media/js/cufon-yui.js" type="text/javascript"></script>
    <script src="/media/js/cufon-replace.js" type="text/javascript"></script>
    <script src="/media/js/Dynalight_400.font.js" type="text/javascript"></script>
    <script src="/media/js/FF-cash.js" type="text/javascript"></script>
    <script src="/media/js/tms-0.3.js" type="text/javascript"></script>
    <script src="/media/js/tms_presets.js" type="text/javascript"></script>
    <script src="/media/js/jquery.easing.1.3.js" type="text/javascript"></script>
    <script src="/media/js/jquery.equalheights.js" type="text/javascript"></script>
    <script type="text/javascript">
        function setActive(id) {
            if(id!="") {
                $("#"+id).addClass("active")
            }
        }
        $(document).ready(function(){
            var idToSetActive = "{% block active %}{% endblock %}";
            var managerIdToSetActive = "{% block mActive %}{% endblock %}";
            if(idToSetActive == "managerLink") {
                document.getElementById("managementLinks").style.display = "block";
            }
            else {
                document.getElementById("managementLinks").style.display = "none";
            }
            setActive(idToSetActive);
            setActive(managerIdToSetActive);
        });


    </script>
    {% block scripts %}
    {% endblock %}
    <!--[if lt IE 8]>
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
        	<img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
    </div>
	<![endif]-->
    <!--[if lt IE 9]>
   		<script type="text/javascript" src="js/html5.js"></script>
	<![endif]-->
</head>
<body id="page1">
<header>
    <div class="row-top">
        <div class="main">
            <div class="wrapper">
                <h1><a href="/Menu/index">StreamlineDine<span>.com</span></a></h1>
                <nav>
                    <ul class="menu">
                        {% if perms.MenuApp.Manager %}<li><a id="managerLink" class="mainLink" href="/Menu/manager">Manager</a></li>{% endif %}
                        {% if perms.MenuApp.Waiter %}<li><a id="tableLink" class="mainLink" href="/Menu/tableManagement">Table Management</a></li>{% endif %}
                        {% if perms.MenuApp.Cook %}<li><a id="kitchenLink" class="mainLink" href="/Menu/kitchen">Kitchen </a></li>{% endif %}
                        {% if user.is_authenticated %}<li><a class="mainLink" href="/Menu/doLogout">Welcome {{ user.username }}, Logout</a></li>{% endif %}
                        {% if not user.is_authenticated %}<li><a id="loginLink" class="mainLink" href="/Menu/loginPage">Login</a></li>{% endif %}
                    </ul>
                    <ul class="menu2" id="managementLinks">
                        {% if perms.MenuApp.Manager %}<li><a id="statisticsLink" class="mainLink" href="/Menu/charts">Statistics</a></li>{% endif %}
                        {% if perms.MenuApp.Manager %}<li><a id="menuMgmtLink" class="mainLink" href="/Menu/menuManagement">Menu Management</a></li>{% endif %}
                        {% if perms.MenuApp.Manager %}<li><a id="menuPageMgmtLink" class="mainLink" href="/Menu/menuPageManagement">Menu Page Management</a></li>{% endif %}
                        {% if perms.MenuApp.Manager %}<li><a id="categoryMgmtLink" class="mainLink" href="/Menu/categoryManagement">Category Management</a></li>{% endif %}
                        {% if perms.MenuApp.Manager %}<li><a id="userMgmtLink" class="mainLink" href="/Menu/userManagement">User Management</a></li>{% endif %}
                        {% if perms.MenuApp.Manager %}<li><a id="menuItemMgmtLink" class="mainLink" href="/Menu/menuItemManagement">Menu Item Management</a></li>{% endif %}
                        {% if perms.MenuApp.Manager %}<li><a id="nutritionalFactsLink" class="mainLink" href="/Menu/nutritionFactManagement">Nutritional Facts</a></li>{% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="row-bot">
        <div class="row-bot-bg">
            <div class="main">
                {% block main %}
                {% endblock %}

            </div>
        </div>
    </div>
</header>
<section id="content">
    <div class="main">
        {% block content %}
        {% endblock %}
    </div>
</section>
<footer>
    <div class="main">
        <div class="aligncenter">
            <nav>
                <ul class="menu" style="float:none;">
                    <span>StreamlineDine.com &copy; 2012</span>
                    <a style="text-decoration: none;" id="contactLink" href="/Menu/contact">Contact</a>
                    <a style="text-decoration: none;margin-left: 40px;" id="aboutLink" href="/Menu/index">About</a>
                    </ul>
                </nav>

        </div>
    </div>
</footer>
</body>
</html>
