{% extends "base.html" %}

{% block active %}managerLink{% endblock %}
{% block mActive %}statisticsLink{% endblock %}

{% block title %}
    StreamlineDine.com - Manager Statistics
{% endblock %}

{% block scripts %}
    <style type="text/css" title="currentStyle">
        @import "/media/Datatables/themes/custom-theme/jquery.ui.all.css";
        /*Displays the charts side by side*/
        .pie {
            float: left;
        }
        .line {
            float: right;
        }
    </style>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" language="javascript" src="/media/js/jquery-ui-1.8.17.custom.min.js"></script>

    <script type="text/javascript">
        //Sets handlers and populates charts.
        $(document).ready(function(){

            jQuery.download = function(url, data, method){
                //url and data options required
                if( url && data ){
                    //data can be string of parameters or array/object
                    data = typeof data == 'string' ? data : jQuery.param(data);
                    //split params into form inputs
                    var inputs = '';
                    jQuery.each(data.split('&'), function(){
                        var pair = this.split('=');
                        inputs+='<input type="hidden" name="'+ pair[0] +'" value="'+ pair[1] +'" />';
                    });
                    //send request
                    jQuery('<form action="'+ url +'" method="'+ (method||'post') +'">'+inputs+'</form>')
                            .appendTo('body').submit().remove();
                };
            };

            $("#filterByDate").click(function(){
                filterByDate();
            });
            $("#today").click(function(){
                setToToday();
            });
            $("#lastWeek").click(function(){
                setToLastWeek();
            });
            $("#lastMonth").click(function(){
                setToLastMonth();
            });
            $("input[name='pieChart']").click(function(){
                filterByDate();
            });
            $("input[name='waiterButtons']").click(function(){
                filterByDate();
            });
            $(".excel").click(function(){
                exportData();
            });
            $("#zoomOut").click(function(){
                zoomOut();
            });
            $("#startDate").datepicker();
            $("#endDate").datepicker();
            setToLastWeek();
        });

        //Sets the date to today's date.
        function setToToday(){
            $("#startDate").datepicker('setDate', new Date());
            $("#endDate").datepicker('setDate', new Date());
            filterByDate();
        }

        //Displays data from the past seven days.
        function setToLastWeek () {
            var lastWeek = new Date();
            lastWeek.setDate( lastWeek.getDate() - 7 );
            $("#startDate").datepicker('setDate', lastWeek);
            $("#endDate").datepicker('setDate', new Date());
            filterByDate();
        }

        //Displays data from one month ago to today.
        function setToLastMonth() {
            var lastMonth = new Date();
            lastMonth.setDate( lastMonth.getDate() - 30 );
            $("#startDate").datepicker('setDate', lastMonth);
            $("#endDate").datepicker('setDate', new Date());
            filterByDate();
        }

        //Selects the orders from the specified dates and populates the charts with the correct data.
        function filterByDate(){
            var startDate = new Date( $("#startDate").val() );
            var endDate = new Date( $("#endDate").val() );
            var startMonth = startDate.getMonth() + 1;
            var endMonth = endDate.getMonth() + 1;
            var startDateStr = startMonth + "/" + (startDate.getDate()).toString() + "/" + (startDate.getFullYear()).toString();
            var endDateStr = endMonth + "/" + (endDate.getDate()).toString() + "/" + (endDate.getFullYear()).toString();
            var zoomButton = document.getElementById("zoomOut");
            $.ajax({
                url: "filterByDate",
                type: "GET",
                dataType: "json",
                data: {startDate: startDateStr, endDate:endDateStr},
                success: function(data){
                    var salesDates = [];
                    var salesTotals = [];
                    var pieSales = [];
                    var index = 0;
                    for(var currentDate = new Date(startDate); endDate.getTime() - currentDate.getTime() >= 0;
                            currentDate.setDate( currentDate.getDate() + 1 )) {
                        salesDates[index] = (currentDate.getMonth() + 1).toString() + "/" +
                                (currentDate.getDate()).toString() + "/" + (currentDate.getFullYear()).toString();
                        var priceTotal = 0;
                        for(var i = 0; i < data.length; i++){
                            if(zoomButton.title == "All" || zoomButton.title == data[i].Category) {
                                var order = data[i];
                                var category = "";
                                var bob = $("input[name='waiterButtons']:checked").val()
                                if($("input[name=waiterButtons]:checked").val() != "Waiter") {
                                    if(zoomButton.title == "All") {
                                        category = order.Category;
                                    }
                                    else {
                                        category = order.Item;
                                    }
                                }
                                else if($("input[name='waiterButtons']:checked").val() == "Waiter") {
                                    category = order.Waiter;
                                }
                                var price = order.Price;
                                var date = new Date(order.Date.replace(/-/gi, "/"));
                                var tomorrow = new Date(currentDate);
                                tomorrow.setDate( tomorrow.getDate() + 1 );
                                if( date >= currentDate && date < tomorrow ) {
                                    priceTotal += parseFloat(price);
                                    if($("input[name='pieChart']:checked").val() == "Number") {
                                        if( !(category in pieSales) ) {
                                            pieSales[category] = 1;
                                        }
                                        else {
                                            pieSales[category]++;
                                        }
                                    }
                                    else {
                                        if( !(category in pieSales) ) {
                                            pieSales[category] = parseFloat(price);
                                        }
                                        else {
                                            pieSales[category] += parseFloat(price);
                                        }
                                    }
                                }
                            }
                        }
                        salesTotals[index] = priceTotal;
                        index++;
                    }
                    drawSalesChart(salesDates, salesTotals);
                    drawPieChart(pieSales);
                },
                error: function(data){
                    alert("Error: Unable to retrieve orders.");
                }
            });
        }
        google.load("visualization", "1", {packages:["corechart"]});

        //Draws the sales chart with the given dates and sales, where 'type' stores what category is being viewed.
        function drawSalesChart(dates, sales, type) {
            var button = document.getElementById("zoomOut");
            type = typeof a !== 'undefined' ? type : button.title;
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Year');
            data.addColumn('number', 'Sales');
            data.addRows( dates.length );
            for(var i=0; i < dates.length; i++) {
                data.setCell(i, 0, dates[i]);
                data.setCell(i, 1, parseFloat(sales[i].toFixed(2)));
            }

            var singlePoint = 0;
            if(dates.length == 1) {
                singlePoint = 5;
            }

            var title = 'Sales Performance - ' + type;
            var options = {
                width: 450, height: 270,
                title: title,
                pointSize: singlePoint,
                vAxis: { format: '$#.##', viewWindowMode: 'explicit', viewWindow: {min: 0} }
            };

            var chart = new google.visualization.LineChart(document.getElementById('saleschart_div'));
            chart.draw(data, options);
        }

        //Draws the pie chart with the given sales, where 'type' stores what category is being viewed.
        var pieChartVisualization;
        var pieChartData;
        function drawPieChart(sales, type) {
            var button = document.getElementById("zoomOut");
            type = typeof a !== 'undefined' ? type : button.title;
            pieChartData = new google.visualization.DataTable();
            pieChartData.addColumn('string', 'Menu Item');
            pieChartData.addColumn('number', 'Today\'s Orders');
            var salesLength = 0;
            for(var i in sales) {
                if (sales.hasOwnProperty(i)) salesLength++;
            }
            pieChartData.addRows( salesLength );
            var count = 0;
            for(var i in sales) {
                pieChartData.setCell(count, 0, i);
                pieChartData.setCell(count, 1, parseFloat(sales[i].toFixed(2)));
                count++;
            }

            var title = 'Order Breakdown - ' + type;
            var options = {
                width: 450, height: 270,
                title: title
            };

            pieChartVisualization = new google.visualization.PieChart(document.getElementById('piechart_div'));
            pieChartVisualization.draw(pieChartData, options);
            if(button.title == "All" && $("input[name=waiterButtons]:checked").val() == "Category") {
                google.visualization.events.addListener(pieChartVisualization, 'select', selectPieChart);
            }
        }

        //Allows the user to view sales of a specific category.
        function selectPieChart() {
            var button = document.getElementById("zoomOut");
            button.disabled = false;
            var selection = pieChartVisualization.getSelection();
            button.title = pieChartData.getFormattedValue(selection[0].row, 0);
            filterByDate();
        }

        //Writes a csv file and initiates a download.
        function exportData() {
            var startDate = new Date( $("#startDate").val() );
            var endDate = new Date( $("#endDate").val() );
            var startMonth = startDate.getMonth() + 1;
            var endMonth = endDate.getMonth() + 1;
            var startDateStr = startMonth + "/" + (startDate.getDate()).toString() + "/" + (startDate.getFullYear()).toString();
            var endDateStr = endMonth + "/" + (endDate.getDate()).toString() + "/" + (endDate.getFullYear()).toString();
            $.ajax({
                url: "filterByDate",
                type: "GET",
                dataType: "json",
                data: {startDate: startDateStr, endDate:endDateStr},
                success: function(data){
                    var fileString = "Item,Category,Price,Date,Waiter\n";
                    for(var i = 0; i < data.length; i++) {
                        fileString += data[i].Item + "," + data[i].Category + "," + data[i].Price + "," + data[i].Date + "," + data[i].Waiter + "\n";
                    }
                    $.download("/Menu/downloadCSV", "data="+fileString);
                },
                error: function(data){
                    alert("Error: Unable to retrieve orders.");
                }
            });
        }

        //Reverts to viewing all sales after having viewed sales in a specific category.
        function zoomOut() {
            var button = document.getElementById("zoomOut");
            button.disabled = true;
            button.title = "All";
            filterByDate();
        }
    </script>
{% endblock %}

{% block content %}
    <label for="salesByDollar">Sales by dollar</label><input type="radio" id="salesByDollar" name="pieChart" value="Dollar" checked="checked"/>
    <label for="salesByNumber">Sales by number</label><input type="radio" id="salesByNumber" name="pieChart" value="Number"/><br/>
    <label for="salesByCategory">Sales by category</label><input type="radio" id="salesByCategory" name="waiterButtons" value="Category" checked="checked"/>
    <label for="salesByWaiter">Sales by waiter</label><input type="radio" id="salesByWaiter" name="waiterButtons" value="Waiter"/>
    <br/>
    <div id="piechart_div" class="pie"></div>
    <div id="saleschart_div" class="line"></div>
    <br/>
    <input class="customButton excel" type="button" value="Export Charts to File"/>
    <input class=customButton type="button" disabled="true" value="All Sales" id="zoomOut" title="All"/>
    <br/><br/>
    <input class=customButton type="button" id="today" value="Today"/>
    <input class=customButton type="button" id="lastWeek" value="Past Week"/>
    <input class=customButton type="button" id="lastMonth" value="Past Month"/>
    <br/>
    <label for="startDate">Start Date: </label><input id="startDate" type="text" name="sDate"/>
    <label for="endDate">End Date: </label><input id="endDate" type="text" name="eDate"/>
    <input class=customButton id="filterByDate" type="button" value="Filter"/>
{% endblock %}
