{% extends "base.html" %}

{% block active %}aboutLink{% endblock %}

{% block title %}
    StreamlineDine.com - Home
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            Cufon.now();
            $('.slider')._TMS({
                duration:1000,
                easing:'easeOutQuint',
                preset:'slideDown',
                slideshow:7000,
                banners:false,
                pauseOnHover:true,
                pagination:true,
                pagNums:false
            });
        });
    </script>
{% endblock %}

{% block main %}
    <h2>Intuitive <span>Streamlined</span></h2>
    <div class="slider-wrapper">
        <div class="slider">
            <ul class="items">
                <li>
                    <img src="/media/images/slider-img1.jpg" alt=""/>
                </li>
                <li>
                    <img src="/media/images/slider-img2.jpg" alt=""/>
                </li>
                <li>
                    <img src="/media/images/slider-img3.jpg" alt=""/>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="wrapper">
        <article class="column-1">
            <div class="indent-left">
                <div class="maxheight indent-bot">
                    <h3>Program Features</h3>
                    <ul class="list-1">
                        <li>User Management</li>
                        <li>Menu Management</li>
                        <li>Kitchen Management</li>
                        <li>Table Management</li>
                        <li>Waiter Management</li>
                        <li>Sales Statistics</li>
                    </ul>
                </div>
            </div>
        </article>
        <article class="column-2">
            <div class="maxheight indent-bot">
                <h3 class="p1">About Streamline Dine</h3>
                <p class="p2">Streamline Dine, is an application originally designed for a class project, meant to
				simplify and unify a restaurant under one, intuitive system. The system relies on the Android SDK for the tablet
				devices, and Django for the website, as well as other technologies. 
            </div>
        </article>
    </div>
{% endblock %}