{% extends "base.html" %}

{% block active %}kitchenLink{% endblock %}

{% block title %}
    StreamlineDine.com - Kitchen
{% endblock %}

{% block scripts %}
    <style type="text/css" title="currentStyle">
        @import "/media/Datatables/themes/custom-theme/jquery.ui.all.css";
        /* Colors the order rows white instead of gray. */
        .row_incomplete {
            background-color: white;
        }
        td {
            border-color: #600;
            border-width: 1px 1px 0 0;
            border-style: solid;
            margin: 0;
            padding: 4px;
        }
        /* Makes the background of order rows in the completed table colored white. */
        .odd {
            background: white;
        }
        .even {
            background: white;
        }
        /* These CSS changes will be used to show the order's progress. */
        table.display tr.row_completed td {
            background-color: #666666;
            color: #FFFFFF;
        }
    </style>

    <script type="text/javascript" language="javascript" src="/media/Datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="/media/Datatables/js/jquery.dataTables.js"></script>
    <script type="text/javascript" language="javascript" src="/media/js/jquery-ui-1.8.17.custom.min.js"></script>

    <script type="text/javascript" charset="utf-8">
        $.fn.dataTableExt.oApi.fnReloadAjax = function ( oSettings, sNewSource, fnCallback, bStandingRedraw )
        {
            if ( typeof sNewSource != 'undefined' && sNewSource != null )
            {
                oSettings.sAjaxSource = sNewSource;
            }
            this.oApi._fnProcessingDisplay( oSettings, true );
            var that = this;
            var iStart = oSettings._iDisplayStart;
            var aData = [];

            this.oApi._fnServerParams( oSettings, aData );

            oSettings.fnServerData( oSettings.sAjaxSource, aData, function(json) {
                /* Clear the old information from the table */
                that.oApi._fnClearTable( oSettings );

                /* Got the data - add it to the table */
                var aData =  (oSettings.sAjaxDataProp !== "") ?
                        that.oApi._fnGetObjectDataFn( oSettings.sAjaxDataProp )( json ) : json;

                for ( var i=0 ; i<aData.length ; i++ )
                {
                    that.oApi._fnAddData( oSettings, aData[i] );
                }

                oSettings.aiDisplay = oSettings.aiDisplayMaster.slice();
                that.fnDraw();

                if ( typeof bStandingRedraw != 'undefined' && bStandingRedraw === true )
                {
                    oSettings._iDisplayStart = iStart;
                    that.fnDraw( false );
                }

                that.oApi._fnProcessingDisplay( oSettings, false );

                /* Callback user function - for event handlers etc */
                if ( typeof fnCallback == 'function' && fnCallback != null )
                {
                    fnCallback( oSettings );
                }
            }, oSettings );
        };

        var sImageUrl = "/media/Datatables/images/";
        // This is the completed orders table.
        var oCompTable;
        // This is the active orders table.
        var oActiveTable;
        // This array holds all open rows.
        var anOpen = [];

        $(document).ready(function() {

            /* Initialize the Active Orders Outer table */
            oActiveTable = $('#active_orders').dataTable({
                "bJQueryUI":true,
                "bProcessing":true,
                "oLanguage": {
                    "sEmptyTable":"There are no currently active orders."
                },
                    "aoColumns":[
                    {
                        "mDataProp":null,
                        "sClass":"control center",
                        "sDefaultContent":'<img src="' + sImageUrl + 'details_open.png' + '">'
                    },
                    { "mDataProp":"id" },
                    { "mDataProp":"table" },
                    { "mDataProp":"waiter" },
                    { "mDataProp":"time_placed" },
                    { "mDataProp":"finish_order" }
                ]
            });

            // Initialize the Completed Order Table.
            render_table();

            /* Add a click handler for the Open/Close image in the outer rows. */
            $('#active_orders td.control').live('click', function () {
                // Grab the row that was clicked
                var nTr = this.parentNode;
                // Check if this row(the order row) is in the anOpen list.
                var i = $.inArray(nTr, anOpen);

                // If the clicked row is not in the list of open rows, then open it.
                if (i === -1) {
                    // Change the button picture.
                    $('img', this).attr('src', sImageUrl + "details_close.png");
                    var nDetailsRow = oActiveTable.fnOpen(nTr, getOrderItems(oActiveTable, nTr), 'details');
                    $('div.innerDetails', nDetailsRow).slideDown();
                    // Add this row to the list of open rows.
                    anOpen.push(nTr);
                }
                else {
                    // Change the button picture.
                    $('img', this).attr('src', sImageUrl + "details_open.png");
                    $('div.innerDetails', $(nTr).next()[0]).slideUp(function () {
                        // Delete the inner table.
                        oActiveTable.fnClose(nTr);
                        // Remove this row from the list of open rows.
                        anOpen.splice(i, 1);
                    });
                }
            });

            /* Add a click handler for the Open/Close image in the outer rows. */
            $('#completed_orders td.control').live('click', function () {
                var nTr = this.parentNode;
                var i = $.inArray(nTr, anOpen);

                // If the row is closed, open it up.
                if (i === -1) {
                    $('img', this).attr('src', sImageUrl + "details_close.png");
                    var nDetailsRow = oCompTable.fnOpen(nTr, getOrderItems(oCompTable, nTr), 'details');
                    $('div.innerDetails', nDetailsRow).slideDown();
                    anOpen.push(nTr);
                }
                // If the row is open, close it.
                else {
                    $('img', this).attr('src', sImageUrl + "details_open.png");
                    $('div.innerDetails', $(nTr).next()[0]).slideUp(function () {
                        oCompTable.fnClose(nTr);
                        anOpen.splice(i, 1);
                    });
                }
            });

            function getOrderItems(myTable, nTr) {
                var order_id;
                // Ask Datatables for the information inside of the requested table.
                var oCompData = myTable.fnGetData(nTr);
                order_id = oCompData.id;
                // Variable to hold the string of html for all the retrieved items.
                var items = '';

                // Grab the rows of order items for the given order.
                $.ajax({
                    type:"GET",
                    url: 'getOrderItems',
                    async: false,
                    data: {'order_id' : order_id},
                    success: function( json ) {
                        // Build the inside of the table.
                        $.each(json, function(key, val) {
                            // If the item is not done, or if we are in the Completed orders tab, do not color finished items.
                            if ((val['time_prepared'] === 'Not Prepared') || (getSelectedTabIndex() == 1))  {
                                items = items + '<tr id="item_' + val['id'] + '">';
                            // If this item is already done, modify it visually.
                            } else {
                                items = items + '<tr class="row_completed" id="item_' + val['id'] + '">';
                            }
                            items = items + '<td align="center">' + val['name'] + '</td>';
                            items = items + '<td id="time_prepared" align="center">' + val['time_prepared'] + '</td>';
                            items = items + '<td align="center">' + val['comments'] + '</td>';
                            // If this is for the Active Orders Tab.
                            if ( getSelectedTabIndex() == 0 ) {
                                items = items + '<td align="center">' +
                                        '<button class=customButton onclick="finish_item(' + val['id'] + ');">Finish Item</button>' + '</td>';
                            } else {
                                // Do nothing (do not construct this column)
                            }
                            items = items + '</tr>';
                        });
                    },
                    error: function(data){
                        alert("Error: The order items could not be retrieved.");
                    }
                });

                // This should be the HTML for the entire table to open underneath the order.
                var sOut =
                        '<div class="innerDetails">' +
                            '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px; width: 100%;border-top:1px solid #CCCCCC;border-bottom:1px solid #CCCCCC;">' +
                                    '<thead>' +
                                        '<tr>' +
                                            '<th>Name</th>' +
                                            '<th>Time Prepared</th>' +
                                            '<th>Comments</th>';
                // If this is for the Active Orders Tab.
                if ( getSelectedTabIndex() == 0 ) {
                    sOut = sOut + '<th>Finish Item</th>';
                } else {
                    // Do nothing (do not construct this column)
                }
                sOut = sOut +
                                        '</tr>' +
                                    '</thead>' +
                                        items + // Insert the content of the table that was just built.
                            '</table>' +
                        '</div>';
                return sOut;
            }

            // Call for an update for orders every 5 seconds.
            setInterval( function() {
                ajaxUpdate();
            }, 5000 );

            // This readies the page for the tabs for Active Orders and Complete Orders.
            $(function() {
                $( "#tabs" ).tabs();
            });

        } );

        // This constructs the Completed Orders from an ajax call.
        function render_table() {
            if( !oCompTable ) {
                oCompTable = $('#completed_orders').dataTable( {
                    "bJQueryUI":true,
                    "bProcessing": true,
                    "sAjaxSource": "getCompletedOrders",
                    "bRetreive":true,
                    "aoColumns": [
                        {
                            "mDataProp":null,
                            "sClass":"control center",
                            "sDefaultContent":'<img src="' + sImageUrl + 'details_open.png' + '">'
                        },
                        { "mDataProp":"id" },
                        { "mDataProp":"table" },
                        { "mDataProp":"waiter" },
                        { "mDataProp":"time_placed" },
                        { "mDataProp":"time_finished" }
                    ]
                } );
            }
        }

        // This variable is needed to represent the last time the browser got an order update.
        var lastUpdateTime = "{{ currentTime }}";
        var completed_order = '';
        var completed_item = '';

        // This should be called every 5 seconds to update the orders.
        // This is the method that keeps the Active Orders table up to date.
        function ajaxUpdate() {
            // Ask for an update, then handle the response.
            $.ajax({
                url:'getKitchenUpdate',
                type:'POST',
                dataType: "json",
                data:{"completed_order": completed_order,"completed_item": completed_item, "lastUpdateTime":lastUpdateTime},
                success:function(data) {
                    // Grab the new lastUpdateTime.
                    lastUpdateTime = data['updateTime'];

                    // Reset the finished orders/items.
                    completed_item = '';
                    completed_order = '';

                    $.each(data['new_orders'], function(key, val) {
                        oActiveTable.fnAddData( [
                            {
                                id:val['id'],
                                table:val['table'],
                                waiter:val['waiter'],
                                time_placed:val['time_placed'],
                                finish_order:'<button class=customButton onclick=finish_order(' + val['id'] + ')>Finish Order</button',
                                "DT_RowId": 'order_' + val['id']
                            }
                        ] )
                    });

                    // For each finished order, remove it.
                    $.each(data['finished_orders'], function(key, val) {
                        // Close the row if it is open.
                        var image_button = $('#active_orders #order_' + val['id'] + ' td.control');
                        var nTr = $('#active_orders #order_' + val['id']);
                        nTr = nTr[0];
                        var i = $.inArray(nTr, anOpen);
                        if (i != -1 ) {
                            $('img', image_button).attr('src', sImageUrl + "details_open.png");
                            $('div.innerDetails', $(nTr).next()[0]).slideUp(function () {
                                oActiveTable.fnClose(nTr);
                                anOpen.splice(i, 1);
                            });
                        }

                        // Remove the row from the active orders table.
                        if (nTr) {
                            oActiveTable.fnDeleteRow(nTr);
                        }

                        // Refresh the completed orders table.
                        oCompTable.fnReloadAjax();

                    });
                    // For each finished item, modify color.
                    $.each(data['finished_items'], function(key, val) {
                        // Change the color.
                        $('#active_orders #item_' + val['id']).addClass('row_completed');
                        // Update the timestamp.
                        $('#active_orders #item_' + val['id'] + ' #time_prepared').text(val['time_prepared']);
                    });
                },
                error: function(data){
                    reload = confirm("Error: The automatic page update failed.\nThis is most likely due to being " +
                            "logged out because of inactivity.\nWould you like to reload the page?");
                    if (reload) {
                        setTimeout("location.reload(true);",1000);
                    }
                }
            });
        }

        function getSelectedTabIndex() {
            var $tabs = $('#tabs').tabs();
            return $tabs.tabs('option', 'selected');
        }

        // This is the method that is called when someone clicks the button to finish an order.
        function finish_order( order_id ) {
            // Get the id of the order.
            completed_order = order_id;
            // Make the call to update.
            ajaxUpdate();
        }

        // This is the method that is called when someone clicks the button to finish an item.
        function finish_item( item_id ) {
            // Save the id of the item finished.
            completed_item = item_id;
            // Make the call to update.
            ajaxUpdate();
        }

    </script>
{% endblock %}


{% block content %}

    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Active Orders</a></li>
            <li><a href="#tabs-2">Completed Orders</a></li>
        </ul>
        <div id="tabs-1">

            <table cellpadding="0" cellspacing="0" border="0" class="display" id="active_orders" style="width:100%;border-right:1px solid #CCCCCC;border-left:1px solid #CCCCCC;">
                <thead>
                <tr>
                    <th></th>
                    <th>Id</th>
                    <th>Table</th>
                    <th>Waiter</th>
                    <th>Time Placed</th>
                    <th>Finish Order</th>
                </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                    <tr id="order_{{ order.id }}" class="row_incomplete">
                        <td class="sorting_1"><img src="/media/Datatables/images/details_open.png"></td>
                        <td>{{ order.id }}</td>
                        <td>{{ order.table.username }}</td>
                        <td>{{ order.waiter.user.username }}</td>
                        <td>{{ order.timePlaced }}</td>
                        <td><button class=customButton onclick="finish_order({{ order.id }})">Finish Order</button></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
        <div id="tabs-2">

            <table cellpadding="0" cellspacing="0" border="0" class="display" id="completed_orders" style="width:100%;border-right:1px solid #CCCCCC;border-left:1px solid #CCCCCC;">
                <thead>
                <tr>
                    <th></th>
                    <th>Id</th>
                    <th>Table</th>
                    <th>Waiter</th>
                    <th>Time Placed</th>
                    <th>Time Finished</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}


