{% extends "base.html" %}

{% block active %}loginLink{% endblock %}

{% block title %}
    StreamlineDine.com - Login
{% endblock %}

{% block scripts %}
    <link rel="stylesheet" href="/media/css/loginPage.css"/>
{% endblock %}

{% block content %}
    <form method="POST" action="doLogin{{ next }}">
        <label for="username">Username:</label>
        <input id="username" name="username" type="text"/>
        <label for="password">Password:</label>
        <input id="password" name="password" type="password"/>
        <input type="submit" value="Submit" name="submit" class="submit"/>
    </form>
{% endblock %}

