{% extends "base.html" %}

{% block active %}managerLink{% endblock %}
{% block mActive %}menuMgmtLink{% endblock %}

{% block title %}
    StreamlineDine.com - Menu Management
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            $("#addMenu").click(function(){
                $.ajax({
                    url:"/Menu/addMenu",
                    success:function() {
                        window.location.reload();
                    }
                });
            });
            $("#deleteMenu").click(function(){
                $.ajax({
                    url:"/Menu/deleteMenu",
                    success:function() {
                        window.location.reload();
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block content %}
    {% if not menu %}
        <button id="addMenu" value="Add Menu">Add Menu</button>
    {% endif %}
    {% if menu %}
        WARNING: Deleting your menu will remove all menu items!  This operation can not be undone!
        <button id="deleteMenu" value="Delete Menu">Delete Menu</button>
    {% endif %}
{% endblock %}