{% extends "base.html" %}

{% block active %}managerLink{% endblock %}
{% block mActive %}menuItemMgmtLink{% endblock %}

{% block title %}
    StreamlineDine.com - Menu Item Management
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/media/js/jquery-ui-1.8.17.custom.min.js"></script>
    <script type="text/javascript" src="/media/js/jqgrid/js/i18n/grid.locale-en.js"></script>
    <script type="text/javascript" src="/media/js/jqgrid/js/jquery.jqGrid.src.js"></script>
	<script type="text/javascript" src="/media/js/AjaxFileUpload/ajaxfileupload.js"></script>
    <link rel="stylesheet" href="/media/Datatables/themes/custom-theme/jquery.ui.all.css"/>
    <link rel="stylesheet" href="/media/js/jqgrid/css/ui.jqgrid.css"/>
    <script type="text/javascript">
        $(document).ready(function () {
            var data;
            var itemCategories
            $.ajax({
			    url:'/Menu/getMenuItems',
                type:"GET",
                success:function(d) {
                    data = d.rows;
                    itemCategories = d.itemCategory
                },
                async:false
            });
			$("#navgrid").jqGrid({
				editurl:"/Menu/updateMenuItems",
                datatype:'local',
                data:data,
				enctype: 'multipart/form-data',
                mtype:'GET',
                colNames:['Item Id','Category ID', 'Category Name', 'Item Name', 'Description', 'Long Description', 'Price', 'Rating', 'Sold', 'Image'],
                colModel:[
					{name:'id', index:'id', width:55, type:"integer", sorttype:'int', editable:false},
                    {name:'categoryID', hidden: true, index:'categoryID', width:100, sorttype:'int', editable:false},
					{name:'categoryName', index:'categoryName', width:100, editable: true, edittype: 'select', editoptions: {value: itemCategories}},
					{name:'name', index:'name', width:150, editable:true},
					{name:'description', index:'description', width:250, editable:true},
					{name:'longDescription', index:'longDescription', width:250, editable:true, edittype:'textarea'},
					{name:'price', index:'price', width:65, sorttype:'float', type:"float", formatter:'currency', formatoptions:{decimalSeparator:".", decimalPlaces: 2, prefix: "$"}, editable: true},
					{name:'rating', index:'rating', width:65, sorttype:'int', editable:true},
					{name:'timesOrdered', index:'timesOrdered', sorttype:'int', width:65, editable:true},
					{name:'image', index:'image', edittype: 'file', editable:true, editoptions:{enctype: "multipart/form-data"}, formatter:returnLink, unformat:unLink}
                ],
                jsonReader:{ repeatitems:false },
                pager:'#pagernav',
                rowNum:10,
                width: 1000,
                rowList:[10, 20, 30],
                sortname:'id',
                sortorder:'asc',
                viewrecords:true,
				refresh:true,
				loadonce:false,
                caption:'Menu Item Management'
            });
            $("#navgrid").jqGrid('navGrid', '#pagernav',
                    {beforeRefresh:function(){
						refreshData();
					},
					}, //options
                    {height:320, reloadAfterSubmit:false, closeAfterSubmit:false, closeAfterEdit:true, afterSubmit: UploadImage}, // edit options
                    {height:320, reloadAfterSubmit:false, closeAfterSubmit:false, closeAfterAdd:true, afterSubmit: UploadImage}, // add options
                    {reloadAfterSubmit:false, closeAfterSubmit:true}, // del options
                    {} // search options
            );
			
        });
		
		function refreshData(){
			$.ajax({
				url:'/Menu/getMenuItems',
				type:"GET",
				success:function(d) {
				results = d.rows;
				itemCategories = d.itemCategory
			},
			async:false
			});
			jQuery($("#navgrid").jqGrid('clearGridData').jqGrid('setGridParam', { data: results, dataType:"json" }).trigger('reloadGrid', [{ page: 1}]));
		}
		
		function returnLink(cellvalue, options, rowObject)
		{
			return "<a href='" + cellvalue + "' target='_blank'>Image</a>"
		}   
		
		function unLink(cellvalue, options, cell)
		{
			return $('a', cell).attr("href");
		}
		
		function UploadImage(response, postdata) 
		{
			var data = $.parseJSON(response.responseText);
			
				if ($("#image").val() != "") 
				{
					ajaxFileUpload(data.id)
				}
			
			return [true, "", data.id];
		}			

		function ajaxFileUpload(id) 
		{
			$("#loading").ajaxStart(function () 
			{
				$(this).show();
			}).ajaxComplete(function () {
				$(this).hide();
			});

			$.ajaxFileUpload
			(
				{
					url:'uploadImage',
					secureuri:false,
					fileElementId:'image',
					dataType:'json',
					data:{id:id},
					
					success: function(data, status){
						if (typeof(data.success)!='undefined'){
							if(data.success == true){
								return;
							}else{
								alert(data.message);
							}
						}
						else{
							return alert('Failed to upload image');
						}
					},
					async:false,
					error: function (data, status, e) {
						return alert('Failed to upload image');
					}
				}
			)
		}
    </script>
{% endblock %}

{% block content %}
    <table id="navgrid"></table>
    <div id="pagernav"></div>
{% endblock %}