{% extends "base.html" %}

{% block active %}managerLink{% endblock %}
{% block mActive %}menuPageMgmtLink{% endblock %}

{% block title %}
    StreamlineDine.com - Menu Page Management
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/media/js/jquery-ui-1.8.17.custom.min.js"></script>
    <script type="text/javascript" src="/media/js/jqgrid/js/i18n/grid.locale-en.js"></script>
    <script type="text/javascript" src="/media/js/jqgrid/js/jquery.jqGrid.src.js"></script>
    <link rel="stylesheet" href="/media/Datatables/themes/custom-theme/jquery.ui.all.css"/>
    <link rel="stylesheet" href="/media/js/jqgrid/css/ui.jqgrid.css"/>
    <script type="text/javascript">
        $(document).ready(function () {
            var data;
            $.ajax({
                url:'/Menu/getMenuPages',
                type:"GET",
                success:function(d) {
                    data = d;
                },
                async:false
            });
            $("#navgrid").jqGrid({
                editurl:"/Menu/updateMenuPage",
                datatype:'local',
                data:data.rows,
                mtype:'GET',
                colNames:['Page Id', 'Page Number'],
                colModel:[
                    {name:'id', index:'id', width:55, type:"integer",sorttype:'int', editable:false},
                    {name:'pageNumber', index:'pageNumber', width:55, type:"integer", editable:true}
                ],
                jsonReader:{ repeatitems:false },
                pager:'#pagernav',
                rowNum:10,
                width: 1000,
                rowList:[10, 20, 30],
                sortname:'id',
                sortorder:'asc',
                viewrecords:true,
                caption:'Menu Page Management'
            });
            $("#navgrid").jqGrid('navGrid', '#pagernav',
                    {}, //options
                    {height:280, reloadAfterSubmit:false, closeAfterEdit:true, afterSubmitForm:function(){}}, // edit options
                    {height:280, reloadAfterSubmit:false, closeAfterSubmit:true, closeAfterAdd:true, afterSubmit : function(response, postdata) {
                        return [true,"",JSON.parse(response.responseText).id]
                    }}, // add options
                    {reloadAfterSubmit:false, closeAfterSubmit:true}, // del options
                    {} // search options
            );
        });
    </script>
{% endblock %}

{% block content %}
    <table id="navgrid"></table>
    <div id="pagernav"></div>
{% endblock %}