{% extends "base.html" %}

<!--  This is a temporary design to display tables for use by waiters. It uses non functional data.
  ##TODO: Make call to server for real orders.-->

{% block active %}tableLink{% endblock %}

{% block title %}
    StreamlineDine.com - Waiter Page
{% endblock %}


{% block scripts %}
    <script type="text/javascript" src="/media/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/media/js/jquery-ui-1.8.17.custom.min.js"></script>
    <link type="text/css" href="/media/Datatables/themes/custom-theme/jquery.ui.all.css" rel="stylesheet"/>
    <script type="text/javascript" src="/media/js/jqgrid/js/i18n/grid.locale-en.js"></script>
    <script type="text/javascript" src="/media/js/jqgrid/js/jquery.jqGrid.src.js"></script>
    <link rel="stylesheet" href="/media/js/jqgrid/css/ui.jqgrid.css"/>
    <script type="text/javascript">

    var price = 0;
    var editId = null;
    $(document).ready(function () {

        $("#dialog-form").dialog({
            modal:true,
            autoOpen:false,
            width:500,
            buttons:{
                Close:function () {

                    $(this).dialog("close");

                    $.ajax({
                        url:"getOrder",
                        type:"GET",
                        dataType:"json",
                        data:{"id":editId},
                        success:function (data) {
                            var btns = '';
                            var html = '';
                            $.each(data['order'], function (key, val) {

                                html =  '<div id="' + val['id'] + '">' +
                                        '<div id="o' + val['id'] + '">' +
                                        '<table id="order' + val['id'] + '" cellpadding="5" cellspacing="5" width="100%">' +
                                        '<tr>' +
                                        '<td><b>Item</b></td>' +
                                        '<td style="text-align: right;"><b>Price</b></td>' +
                                        '</tr>' +

                                        '</ul>';
                                $.each(val['items'], function (key, val) {
                                    html += '<tr>' +
                                            '<td>' + val['item'] + '</td>' +
                                            '<td id="' + val['orderID'] + '" width=50px style="text-align: right;">$' +
                                            priceFormat(val['price']) +
                                            '</td>' +
                                            '</tr>';
                                    totalPrices(val['price']);
                                });


                                if (val['discount'] > 0) {
                                    html += '<tr>' +
                                            '<td style="text-align: right; padding-right: 15px;">Sub Total :</td>' +
                                            '<td id="total' + val['id'] + '"' + 'style="width:70px;text-align: right;"><u>$' +
                                            val['totalPrice'] +
                                            '</u></td>' +
                                            '</tr>';

                                    html += '<tr>' +
                                            '<td style="text-align: right; padding-right: 15px;">Discount :</td>' +
                                            '<td id="total' + val['id'] + '" style="width:70px;text-align: right;">' + val['discount'] + '%' +
                                            '</td>' +
                                            '</tr>'

                                    html += '<tr>' +
                                            '<td style="text-align: right; padding-right: 15px;">Total :</td>' +
                                            '<td id="total' + val['id'] + '"' + 'style="width:70px;text-align: right;"><u>$' +
                                            val['totalDiscount'] +
                                            '</u></td>' +
                                            '</tr>';
                                }
                                else {

                                    html += '<tr>' +
                                            '<td style="text-align: right; padding-right: 15px;">Total :</td>' +
                                            '<td id="total' + val['id'] + '"' + 'style="width:70px;text-align: right;"><u>$' +
                                            val['totalPrice'] +
                                            '</u></td>' +
                                            '</tr>';
                                }
                                html += '</div>'

                                btns = '<input class=customButton type="button" value="Print Bill" onclick="printBill(' + val['id'] + ')">' +
                                        '<input class=customButton type="button" value="Close Bill" onclick="closeOrder(' + val['id'] + ')">' +
                                        '<input class=customButton type="button" value="Edit Bill" onclick="editOrder(' + val['id'] + ')">';


                            });


                            $("#" + editId).replaceWith("<div id='" + editId + "' class='ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active'>");
                            $("#" + editId).append(html);
                            $("#" + editId).append(btns);

                        },
                        error:function (data) {
                            if (typeof console.log != 'undefined') {
                                console.log("Error: Unable to retrieve orders. error: ", data);
                            }
                        }
                    });

                }
            }
        });


        $.ajax({
            url:"getOrderIds",
            type:"GET",
            dataType:"json",
            success:function (data) {
                if (typeof console.log != 'undefined') {
                    console.log(data);
                }
                for (var i = 0; i < data.items.length; i++) {
                    $("#accordion" + data.items[i].id).accordion({
                        autoHeight:false,
                        navigation:true,
                        collapsible:true,
                        active:false
                    });
                }
            },
            error:function (data) {
                if (typeof console.log != 'undefined') {
                    console.log("Error: Unable to retrieve orders. error: ", data);
                }
            }
        });


        setInterval(function () {
            ajaxUpdate();
        }, 5000);

    });


    function priceFormat(price) {
        return price.toFixed(2);
    }

    function totalPrices(p) {
        price += p;
        return priceFormat(price);
    }

    function totalPrice(total) {
        var p = priceFormat(total);
        price = 0;
        return p;
    }

    function getOrder(orderId) {
        var order;
        $.ajax({
            url:"getOrderById",
            type:"GET",
            dataType:"json",
            data:{"id":orderId},
            success:function (data) {
                order = data.order;

                for (var i = 0; i < order.length; i++) {
                    order[i].id = i;
                }


            },
            error:function (data) {
                if (typeof console.log != 'undefined') {
                    console.log("Error: Unable to retrieve order. error: ", data);
                }
            },
            async:false
        });
        return order;
    }

    function editOrder(orderId) {

        editId = orderId;
        var order = getOrder(orderId);

        $("#discount").val(order[0].discount);
        $("#navgrid").jqGrid('GridUnload');

        var lastsel2;
        jQuery("#navgrid").jqGrid({
            editurl:"updatePrice",
            datatype:'local',
            mtype:'GET',
            data:order,
            rowNum:100,
            colNames:['id', 'OrderId', 'Item', 'Price'],
            colModel:[
                {name:'id', index:'id', width:55, editable:true, hidden:true},
                {name:'orderId', index:'orderId', width:55, hidden:true, editable:true},
                {name:'name', index:'name', width:250, sortable:false},
                {name:'price', index:'price', width:75, formatter:'number', formatoptions:{decimalPlaces:2}, editable:true, align:'right', sortable:false}
            ],
            viewrecords:true,
            onSelectRow:function (id) {
                if (id && id !== lastsel2) {
                    jQuery('#navgrid').jqGrid('restoreRow', lastsel2);
                    jQuery('#navgrid').jqGrid('editRow', id, true);
                    lastsel2 = id;
                }
            },
            caption:'Edit Order'
        });
        $("#dialog-form").dialog("open");

    }

    function closeOrder(orderId) {
        $.ajax({
            url:"closeOrder",
            type:"POST",
            dataType:"json",
            data:{orderId:JSON.stringify(orderId)},
            success:function (data) {
                alert(data.Message);
                if (data.Status == 1) {
                    $('#accordion' + orderId).remove();
                }

            },
            error:function (data) {
                if (typeof console.log != 'undefined') {
                    console.log("Error closing order." + data);
                }
            }
        });

    }

    function printBill(orderId) {
        var div = document.getElementById("o" + orderId);
        var content = div.innerHTML;
        var pwin = window.open('', 'print_content', 'width=500,height=500');

        pwin.document.open();
        pwin.document.write('<html><body onload="window.print()">' + content + '</br><p align="right">Tip:_______</br>Total:_______</br></br>Signature:__________________________</p></body></html>');
        pwin.document.close();
//            $("#"+orderId).show().printElement({});
    }

    // This variable is needed to represent the last time the browser got an order update.
    var lastUpdateTime = "{{ currentTime }}";


    //#TODO:Remove orders if there are finished orders
    function ajaxUpdate() {

        $.ajax({
            url:"getWaiterOrders",
            type:"POST",
            dataType:"json",
            data:{"lastUpdateTime":lastUpdateTime},
            success:function (data) {
                // Grab the new lastUpdateTime.
                lastUpdateTime = data['updateTime'];

                $.each(data['new_orders'], function (key, val) {
                    $("#orders").append('<ul id="accordion' + val['id'] + '" style="width:420px;">' +
                            '<h3><a href="section' + val['id'] + '">' + val['waiter'] + '</a></h3>' +
                            '<div id="' + val['id'] + '">' +
                            '<div id="o' + val['id'] + '">' +
                            '<table id="order' + val['id'] + '" cellpadding="5" cellspacing="5" width="100%">' +
                            '<tr>' +
                            '<td><b>Item</b></td>' +
                            '<td style="text-align: right;"><b>Price</b></td>' +
                            '</tr>' +

                            '</ul>');
                    $.each(val['items'], function (key, val) {
                        $("#order" + val['orderID']).append('<tr>' +
                                '<td>' + val['item'] + '</td>' +
                                '<td id="' + val['orderID'] + '" width=50px style="text-align: right;">$' +
                                priceFormat(val['price']) +
                                '</td>' +
                                '</tr>');
                        totalPrices(val['price']);
                    });

                });
                $.each(data['new_orders'], function (key, val) {
                    $("#order" + val['id']).append('<tr>' +
                            '<td style="text-align: right; padding-right: 15px;">Total :</td>' +
                            '<td id="total' + val['id'] + '"' + 'style="width:70px;text-align: right;"><u>$' +
                            val['totalPrice'] +
                            '</u></td>' +
                            '</tr>'
                    );
                    $("#" + val['id']).append(
                            '<input class=customButton type="button" value="Print Bill" onclick="printBill(' + val['id'] + ')">' +
                                    '<input class=customButton type="button" value="Close Bill" onclick="closeOrder(' + val['id'] + ')">' +
                                    '<input class=customButton type="button" value="Edit Bill" onclick="editOrder(' + val['id'] + ')">'
                    );
                });

                $.each(data['new_orders'], function (key, val) {
                    $("#accordion" + val['id']).accordion({
                        autoHeight:false,
                        navigation:true,
                        collapsible:true,
                        active:false
                    });
                });

                $.each(data['finished_orders'], function (key, val) {
                    $('#accordion' + val['id']).remove();
                });

            },
            error:function (data) {

                if (typeof console.log != 'undefined') {
                    console.log("Error: Unable to retrieve orders. error: ", data);

                }

                var r = confirm("Logged out.");
                if (r == true) {
                    window.location.reload();
                }
                else {
                    window.location.reload();
                }

            }
        });
    }

    function applyDiscount() {
        var discountPercent = $("#discount").val();
        $.ajax({
            url:"applyDiscount",
            type:"GET",
            dataType:"json",
            data:{orderId:editId, discount:discountPercent},
            success:function (data) {
                editOrder(editId);


            },
            error:function (data) {
                if (typeof console.log != 'undefined') {
                    console.log("Error applying discount to order." + data);
                }
            }
        });
    }


    </script>
{% endblock %}


{% block content %}
    <html>
    <body>
    <div id="dialog-form" title="Edit Order">
        <table id="navgrid"></table>

        Discount (%):
        <select id="discount" name="discount" onchange="applyDiscount()">
            <option value="0">0</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select></br>
       <!-- Gratuity
        <input type="checkbox" name="grat"/> -->


    </div>
    <div id="orders" style="width:1000px;">
        {% for order in orders %}
            <ul id="accordion{{ order.id }}" style="width:420px;">

                <h3><a href="section{{ order.id }}">{{ order.table.username }}</a></h3>

                <div id="{{ order.id }}">
                    <div id="o{{ order.id }}">
                        <table id="order{{ order.id }}" cellpadding="5" cellspacing="5" width="100%">
                            <tr>
                                <td><b>Item</b></td>
                                <td style="text-align: right;"><b>Price</b></td>
                            </tr>
                            {% for item in order.getOrderedItems %}
                                <tr>
                                    <td>{{ item }}</td>
                                    <td id="{{ order.id }}" width=50px style="text-align: right;">$
                                        <script>
                                            document.write(priceFormat({{ item.itemPrice}}));
                                            totalPrices({{ item.itemPrice }});
                                        </script>
                                    </td>
                                </tr>
                            {% endfor %}
                            {% if order.discount > 0 %}
                                <tr>
                                    <td style="text-align: right; padding-right: 15px;">Sub Total :</td>
                                    <td id="total{{ order.id }}" style="width:70px;text-align: right;">$
                                        <script type="text/javascript">document.write(totalPrice({{ order.totalPrice }}));</script>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: right; padding-right: 15px;">Discount :</td>
                                    <td id="total{{ order.id }}"
                                        style="width:70px;text-align: right;">{{ order.discount }}%
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: right; padding-right: 15px;">Total :</td>
                                    <td id="total{{ order.id }}" style="width:70px;text-align: right;"><u>$
                                        <script type="text/javascript">document.write(totalPrice({{ order.totalDiscount }}));</script>
                                    </u></td>
                                </tr>
                            {% endif %}
                            {% if order.discount == 0 %}
                                <tr>
                                    <td style="text-align: right; padding-right: 15px;">Total :</td>
                                    <td id="total{{ order.id }}" style="width:70px;text-align: right;"><u>$
                                        <script type="text/javascript">document.write(totalPrice({{ order.totalPrice }}));</script>
                                    </u></td>
                                </tr>
                            {% endif %}
                        </table>
                    </div>
                    <input class=customButton type="button" value="Print Bill" onclick="printBill({{  order.id }})">
                    <input class=customButton type="button" value="Close Bill" onclick="closeOrder({{ order.id }})">
                    <input class=customButton type="button" value="Edit Bill" onclick="editOrder({{ order.id }})">
                </div>
            </ul>
        {% endfor %}

    </div>
    </body>
    </html>
{% endblock %}