{% extends "base.html" %}

{% block active %}managerLink{% endblock %}
{% block mActive %}userMgmtLink{% endblock %}

{% block title %}
    StreamlineDine.com - Menu Management
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/media/js/jquery-ui-1.8.17.custom.min.js"></script>
    <script type="text/javascript" src="/media/js/jqgrid/js/i18n/grid.locale-en.js"></script>
    <script type="text/javascript" src="/media/js/jqgrid/js/jquery.jqGrid.src.js"></script>
    <link rel="stylesheet" href="/media/Datatables/themes/custom-theme/jquery.ui.all.css"/>
    <link rel="stylesheet" href="/media/js/jqgrid/css/ui.jqgrid.css"/>
    <script type="text/javascript">
        $(document).ready(function () {
            var data;
            $.ajax({
                url:'/Menu/getUsers',
                type:"GET",
                success:function(d) {
                    data = d;
                },
                async:false
            });
            var groups = { 'Table': 'Table', 'Waiter': 'Waiter', 'Manager':'Manager', 'Cook':'Cook' };
            $("#navgrid").jqGrid({
                editurl:"/Menu/updateUser",
                datatype:'local',
                data:data.rows,
                mtype:'GET',
                colNames:['User Id', 'Username', 'Password', 'Type'],
                colModel:[
                    {name:'id', index:'id', width:55, sorttype:'int', type:"integer", editable:false},
                    {name:'name', index:'name', width:90, editable:true},
                    {name:'password', index:'password', editable:true, hidden:true, width:0, editrules: {edithidden:true} },
                    {name:'type', index:'type', width:80, align:'right', editable:true, edittype: 'select', editoptions: {value: groups}}
                ],
                jsonReader:{ repeatitems:false },
                pager:'#pagernav',
                rowNum:10,
                width: 1000,
                rowList:[10, 20, 30],
                sortname:'id',
                sortorder:'asc',
                viewrecords:true,
                caption:'User Management'
            });
            $("#navgrid").jqGrid('navGrid', '#pagernav',
                    {}, //options
                    {height:280, reloadAfterSubmit:false, closeAfterEdit:true, afterSubmitForm:function(){}}, // edit options
                    {height:280, reloadAfterSubmit:false, closeAfterAdd:true, afterSubmit : function(response, postdata) {
                        return [true,"",JSON.parse(response.responseText).id]
                    }}, // add options
                    {reloadAfterSubmit:false, closeAfterSubmit:true}, // del options
                    {} // search options
            );
        });
    </script>
{% endblock %}

{% block content %}
    <table id="navgrid"></table>
    <div id="pagernav"></div>
{% endblock %}