@charset "UTF-8";
/* CSS Document */

.menu_item {
    width: 480px;
    float: left;
    margin-bottom: 18px;
    display: block;
}

.item_img {
    background: #FFF9DF;
    -moz-box-shadow: 3px 3px 3px #bbae88;
    -webkit-box-shadow: 3px 3px 3px #bbae88;
    box-shadow: 3px 3px 3px #bbae88;
    float: left;
    width: 122px;
    height: 92px;
    padding: 4px;
}

.item_img img {
    border: 1px solid #CDAA4E;
}

.item_img img {
    padding: 4px;
}

.menu {
    width:950px;
    height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
}

#tab2 {
    width:950px;
    height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
}

#order_items {
    width: 480px;
    padding-bottom: 50px;
}

body {
    background: #D8C9A1 url(bodybg.jpg) repeat top;
    color: #675830;
}

.menu_item h3 {
    color: #342809;
}

.menu_item h3 {
    font: 18px Georgia, "Times New Roman", Times, serif;
    text-align: left;
}

.menu_item h3 span.menu_price {
    color: #AC3D00;
    font: 18px Georgia, "Times New Roman", Times, serif;
    text-align: left;
}

.menu_content {
    float: right;
    width: 60%;
    margin-top: -15px;
    padding-right: 30px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.menu_item_description {
    float: right;
    width: 60%;
    padding-right: 30px;
    padding-left: 20px;
}

.menu_container {
    width: 1000px
}

.menu_page {
    color: #342809;
    background: url(title_bg.png) no-repeat center;
    text-shadow: 1px 1px 1px white;
    float: left;
    width: 1000px;
    margin-left: -25px;
    padding-bottom: 50px;
    font: 18px Georgia, "Times New Roman", Times, serif;
    text-align: center;
}

.ui-widget-content {
    border: 2px solid black;
    background: #D8C9A1 url(bodybg.jpg) repeat top;
    color: #333;
}

.ui-widget-header {
    border: 2px solid black;
    background: #D8C9A1 url(bodybg.jpg) repeat top;
    color: white;
    font-weight: bold;
}

a:link, .ui-state-active a:visited {
    color: black;
    text-decoration: none;
}

.ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: .2em .2em 8px;
    border:none;
    border-bottom: 2px solid black;
}

.ui-state-active, .ui-widget-header .ui-state-active {
    border: 1px solid black;
    background: #D8C9A1 url(bodybg.jpg) repeat top;
    font-weight: bold;
    color: white;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid black;
    background: #D8C9A1 url(bodybg.jpg) repeat top;
    font-weight: bold;
    color: black;
}


